:root {
  --background-color: black;
  --font-color: white;
  --link-color-hover: rgb(214, 51, 132);
}
body {
  background-color: var(--background-color);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--font-color);
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 60px;
  line-height: 1;
  font-weight: 900;
}
.head {
  text-align: center;
  padding: 90px 20px 10px 20px;
}
a {
  text-decoration: none;
  color:var(--font-color);
}
a:hover {
  color: var(--link-color-hover);
  transition: all 220ms;
}
.secondheading {
  opacity: 0.7;
}
.facebook {
  font-size: 15px;
}
.instagramm {
  font-size: 15px;
}
.x {
  font-size: 15px;
}
.cover { 
  max-height: 400px !important;
  width: 225px !important;
  padding: 0;
}
video {
 border-radius: 10px;
}
.margin-container {
  margin-top: 20px;
}
.margin-container-about {
  margin-top: 100px;
}
.headingColor {
  color: var(--link-color-hover) !important;

}
.info {
  color: var(--link-color-hover);
}

  .firstRow {
    border-radius: 10px;
    height: 315px;
  }
 
  .secondRow {
    border-radius: 10px;
    height: 315px;
  }
  #contact {
    margin-bottom: 10px; 
    text-align: center;
   }
@media (max-width: 600px){
  h1 {
    font-size: 43px;
  }
  h2 {
    font-size: 18px;
  }
  .cover {
    margin: 0 auto;
    display: block;
  }
  .social {
    display: none;
  }
.head {
  padding-bottom: 5px;
}
.firstRow {
  margin: 0 auto;
  display: block;
}
h3 {
  text-align: center;
  margin: 0;
}
.facebook {
  display: none;
}
.instagramm {
  display: none;
}
.x {
  display: none;
}
#contact {
 margin-bottom: 10px; 
 text-align: center;
}
p {
  text-align: center;
  opacity: 0.8;
}
.perfectfit {
  max-width: 236px;
  max-height: 260px;
}
h3 {
  font-size: 45px;
}
.button {
 display: block;
 text-align: center;
margin-bottom: 20px;
}
}