:root {
  --background-color: black;
  --font-color: white;
  --link-color-hover: rgb(190, 92, 255);
}
html {
  height: 100%;
}
body {
  background-color: var(--background-color);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--font-color);

}
#body-index {
  background-image: url(/images/cow.jpg);
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  min-height: 100%;
}
.navcolor {
color: var(--link-color-hover);
}
h1 {
  font-size: 65px;
  position: relative;
  top: 30px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 60px;
  line-height: 1;
  font-weight: 900;
}
h4 {
  font-size: 90px;
  font-weight: 900;
}
.head {
  text-align: center;
  padding: 130px 20px 180px 20px;
}
.head h1 {
  font-size: 40px;
}
.head h2 {
  position: relative;
  top: 60px;
  opacity: 0.7;
}
.head-gallerie {
  text-align: center;
  padding: 90px 20px 80px 20px;
  font-weight: 900;
}
a {
  text-decoration: none;
  color:var(--font-color);
}
a:hover {
  color: var(--link-color-hover);
  transition: all 220ms;
}
button {
  border: 1px solid var(--link-color-hover) !important;
}
.facebook {
  font-size: 15px;
}
.instagramm {
  font-size: 15px;
}
.x {
  font-size: 15px;
}
.cover { 
  max-height: 400px !important;
  width: 225px !important;
  padding: 0;
}
video {
 border-radius: 10px;
}
.margin-container-about {
  margin-top: 90px;
}

.headingColor {
  color: var(--link-color-hover) !important;
}
.info {
  color: var(--link-color-hover);
}

.firstRow {
    border-radius: 10px;
    height: 315px;
  }
 
.secondRow {
    border-radius: 10px;
    height: 315px;
  }
  .social-content {
    margin-top: 100px;
    text-align: center;
  }
#contact {
    margin-bottom: 10px; 
    text-align: center;
   }
@media (max-width: 600px){
  h1 {
    font-size: 43px;
  }
  h2 {
    font-size: 18px;
  }
  .cover {
    margin: 0 auto;
    display: block;
  }
 
.head {
  padding-bottom: 5px;
}
.firstRow {
  margin: 0 auto;
  display: block;
}
h3 {
  text-align: center;
  margin: 0;
  font-size: 45px;
  
}
#contact {
 margin-bottom: 10px; 
 text-align: center;
}
p {
  text-align: center;
  opacity: 0.8;
}
.perfectfit {
  max-width: 236px;
  max-height: 260px;
}

.button {
 display: block;
 text-align: center;
margin-bottom: 20px;
}
video {
    margin: 0 auto;
    display: block;
  }

}